<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Populace</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
        <script src="https://rawgit.com/BinaryMuse/ngInfiniteScroll/1.0.0/build/ng-infinite-scroll.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
        <script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <link href="css/offcanvas.css" rel="stylesheet">
        <style> 
        .carousel{
            background: #2f4350;
            width: 85%;
            margin-left: auto;
            margin-right: auto; 
        }    
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 60%;
            height: 400px;    
            margin: auto;

        } 
        </style>
        <script type="text/javascript" src="https://web.engr.illinois.edu/~adityagp/papers.json"></script>    
        <script type="text/javascript" src="https://web.engr.illinois.edu/~adityagp/display_papers.js"></script>
        <script src="app.js"></script>
        <script src="https://web.engr.illinois.edu/~adityagp/js/bootstrap.js"></script>
    </head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html#">Populace</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html#">Home</a></li>
              <li><a href="index.html#about">About</a></li>
              <li><a href="index.html#datasets">Datasets</a></li>
              <li><a href="index.html#code">Code</a></li>
              <li><a href="index.html#book">Book</a></li>
              <li><a href="index.html#papers">Papers</a></li>
              <li><a href="index.html#contact">Contact Us</a></li>
            </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

          <br> <br>
          <div class="row">
            <div class="col-md-4"> 
               <img src="images/Populace102cropped.png" class="img-responsive img" style="margin-top: 10pt; margin-bottom: 10pt;">  
           </div> 
            <div class="col-md-8"> 
              <h2>
                <font style="margin-top: 10pt;">Populace combines the best of human and algorithmic computation 
                    to make sense of complex datasets.</font>
              </h2>
            </div>
        </div>
      </div>
  

      <a name="about"></a> 
      <div class="row">
        <div class="col-md-12">
          <h2> What is the Populace Project About? </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5> Development of machine learning algorithms for processing and understanding
              unstructured data requires large volumes of accurate training data.
              Crowdsourcing is the primary means for generating training data at scale. 
              When combined with sophisticated algorithms trained on 
              this data, 
              crowdsourcing represents our best hope for solving many of our most pressing problems.
          </h5> 

          <h5>
              However, crowdsourcing is expensive, since human workers need to be compensated;
              indeed, several companies spend millions of dollars on crowdsourcing each year.
              Despite this, our understanding of how to formally reason about
              and optimize crowdsourcing to minimize cost, while still generating
              large volumes of high-quality data, is surprisingly poor.
          </h5>

          <h5> <b><i> The goal of the populace project is to make it effortless to get large volumes
            of high quality labeled data at low cost.</i> </b> In our previous work, we developed
            techniques to do this for simple boolean tasks -- now we're expanding out to open-ended
            expert crowdsourcing, where a whole host of new challenges emerge.
 
          </h5> 
          <br/> 
          <h4> On this page, you will find a crowdsourcing dataset search tool, all of our code, our crowdsourcing book,
            as well as all of our papers.
          </h4
    
 

    <a name="search"></a>
    <div class="row">
        <div class="col-md-12">
          <h2> Search for Crowdsourcing Datasets </h2>
        </div>
      </div>
    <div role="main" class="container container-showcase" ng-controller="tableController">
        <div class="col-md-12" style="margin-top:0px;">
            
              <h3>Filter Datasets by Attribute</h3>
              <table >
                  <tr><td style="text-align:left">Worker Demographic Info Available: </td><td>
                  <input type="checkbox" ng-click = "hidenAttr('wkr','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('wkr','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('wkr','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Payment Info Available:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('payment','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('payment','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('payment','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Bonus Info Available:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('bonus','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('bonus','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('bonus','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Is Ground Truth:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('gt','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('gt','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('gt','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Task Description Available:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('dscrp','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('dscrp','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('dscrp','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Latency Info Available:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('ltc','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('ltc','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('ltc','false')"/> No
                  </td></tr>
                  <tr><td style="text-align:left">Related Source Available:</td><td>
                  <input type="checkbox" ng-click = "hidenAttr('src','all')"/> All 
                  <input type="checkbox" ng-click = "hidenAttr('src','true')"/> Yes
                  <input type="checkbox" ng-click = "hidenAttr('src','false')"/> No
                  </td></tr>
              </table>
            </div>
        
            <p></p>
            <table infinite-scroll="getMoreData()" ng-table="datasetsTable" show-filter="true" class="table table-striped table-border table-hover">
                <tr ng-repeat="item in showdata | filter: hidenAttrFilter">
                    <td data-title="'Detail'"><div ng-controller="alertController">
                    <button ng-click="show_detail(item)">+</button>
                    </div></td>
                    <td data-title="'Title'" sortable="'title'" filter="{title:'text'}">{{item.title}}</td>
                    <td data-title="'Type'" sortable="'data_type'" filter="{data_type:'select'}" filter-data="types">{{item.data_type}}</td>
                    <td data-title="'Task'" sortable="'task'" filter="{task:'select'}" filter-data="tasks">{{item.task}}</td>
                    <td data-title="'Marketplace'" sortable="'marketplace'" filter="{marketplace:'text'}">{{item.marketplace}}</td>
                    <td data-title="'Related Source'" sortable="'scr'" filter="{scr:'text'}">{{item.scr}}</td>
                    <td data-title="'Link'"><a href="{{item.link}}">download</a></td>
                </tr>
            </table>
        </div>



      <a name="code"></a>
      <div class="row">
        <div class="col-md-12">
          <h2>  Code </h2>
          <h4> All our code is open source, and is available on <a href="https://github.com/populace-org">github</a>. </h4>
        </div>
      </div>
      

      <a name="book"></a>
      <div class="row">
          <div class="col-md-12">
          <h2>Book </h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
                  <a class="pull-left" href="#">
                    <img class="media-object img-responsive img-thumbnail" width="150px" src="http://data-people.cs.illinois.edu/images/crowd-book.jpg" alt="Book">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Crowdsourced Data Management: Industry and Academic Perspectives</h4>
                    <p> 
                      Crowdsourcing and human computation enable organizations to accomplish tasks that are currently not possible for fully automated techniques to complete, or require more flexibility and scalability than traditional employment relationships can facilitate. In the area of data processing, companies have benefited from crowd workers on platforms such as Amazon’s Mechanical Turk or Upwork to complete tasks as varied as content moderation, web con- tent extraction, entity resolution, and video/audio/image processing. Several academic researchers from diverse areas ranging from the social sciences to computer science have embraced crowdsourcing as a research area, resulting in algorithms and systems that improve crowd work quality, latency, or cost. Given the relative nascence of the field, the academic and the practitioner communities have largely operated independently of each other for the past decade, rarely exchanging techniques and experiences. 
                    </p>
                    <p>
                      In this book, we aim to narrow the gap between academics and practitioners. On the academic side, we summarize the state of the art in crowd-powered algorithms and system design tailored to large-scale data processing. On the industry side, we survey 13 industry users (e.g., Google, Facebook, Microsoft) and 4 marketplace providers of crowd work (e.g., CrowdFlower, Upwork) to identify how hundreds of engineers and tens of million dollars are invested in various crowdsourcing solutions. 
                    </p>
                    <p>Through the book, we hope to simultaneously introduce academics to real problems that practitioners encounter every day, and provide a survey of the state of the art for practitioners to incorporate into their designs. Through our surveys, we also highlight the fact that crowd-powered data processing is a large and growing field. Over the next decade, we believe that most technical organizations will in some way benefit from crowd work, and hope that this book can help guide the effective adoption of crowdsourcing across these organizations.
                    </p>
                
                    <small>
                      <script type="text/javascript">
                      display_papers(["crowd-book"], true);
                      </script>
                    </small>
                  </div>
                </div>
          </div>
        

      <a name="papers"></a>
      <div class="row">
        <div class="col-md-12">
          <h2> Recent Paper Releases  </h2>
          <h3> Papers on Crowd Algorithms  </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <script type="text/javascript">
          display_papers(["jellybean", "batch-crowds", "crowdgather", "generalizations", "find", "sampling-guarantees","sampling","max", "crowdscreen","human-gs"], true, 10);
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3> Papers on Plugins: Quality, Pricing, Cost </h3>

        </div>
      </div>

      
      <div class="row">
        <div class="col-md-12">
          <script type="text/javascript">
          display_papers(["global", "pricing", "confidence-general", "confidence","pipelines","swiftly"], true, 10);
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>  Papers on Crowd Systems  </h3>

        </div>
      </div>

      
      <div class="row">
        <div class="col-md-12">
          <script type="text/javascript">
          display_papers(["datasift-demo","datasift","deco-survey", "deco","deco-demo", "deco-qp","hquery"], true, 10);
          </script>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <h3>  Survey Papers and Textbooks  </h3>

        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <script type="text/javascript">
          display_papers(["challenges-crowd", "crowd-book", "thesis"], true, 10);
          </script>
        </div>
      </div>



    

      <a name="contact"></a>

      <div class="row">
        <div class="col-md-12">
          <h2>Contact Us </h2>
          <h5> The Populace project is led by Prof. <a href="http://data-people.cs.illinois.edu">Aditya Parameswaran</a>, with a talented team of brave undergraduate and graduate students, including (in alphabetical order) Akash Das Sarma, Karan Goel, Ayush Jain, Andrew Kuznetsov, Shreya Rajpal, Vipul Venkataraman. The external collaborators we work with include Profs. David Forsyth, Jian Peng, Dan Roth, Hari Sundaram, Jennifer Widom. 
        </h5>

        </div>
      </div>





      <hr> 

        

      <div class="row">
        <div class="col-md-9" align="left">
        <!--  <p>&nbsp; &nbsp; &copy; Aditya Parameswaran 2016</p>
        </div>
        <div class="col-md-9" align="right">-->
          <p> With thanks to our funding sources:  <img src="http://www.cccblog.org/wp-content/uploads/2014/01/bd2k_logo.png" style="height:30px;" border="5"> 
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/0/03/20070812181510%21NSF_Logo.jpg/120px-NSF_Logo.jpg" style="height:50px;" border="5"> 
          <img src="http://research.google.com/images/faculty_award.png" style="height:50px;" border="5"> <img src="http://peer.berkeley.edu/news/wp-content/uploads/2015/08/SiebelEnergyInstitute_Logowhite.jpg" style="height:50px;" border="5"> </p>

        </div>
      </div>


      
      </div><!--/row-->




    

    </div><!--/.container-->



</body>
</html>
